<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AH_RC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <AH_RC.My.MySettings>
            <setting name="SerialPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value />
            </setting>
            <setting name="Media" serializeAs="String">
                <value>SerialPort</value>
            </setting>
            <setting name="FG1_PressMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FG1_PressMax" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FG2_PressMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FG2_PressMax" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FG3_PressMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FG3_PressMax" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FG4_PressMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FG4_PressMax" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FG5_PressMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FG5_PressMax" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FG1_FlexMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FG1_FlexMax" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FG2_FlexMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FG2_FlexMax" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FG3_FlexMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FG3_FlexMax" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FG4_FlexMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FG4_FlexMax" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FG5_FlexMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FG5_FlexMax" serializeAs="String">
                <value>5000</value>
            </setting>
        </AH_RC.My.MySettings>
    </userSettings>
</configuration>
